@import url('https://fonts.googleapis.com/css2?family=Federo&family=Limelight&family=Pompiere&display=swap');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

:root {
    --dark-spring-green: #2c6e49ff;
    --sea-green: #4c956cff;
    --light-yellow: #fefee3ff;
    --melon: #ffc9b9ff;
    --persian-orange: #d68c45ff;
}

body {
    background-color: var(--sea-green);
    color: var(--dark-spring-green);
}

.kontainer {
    width: 900px;
    background-color: var(--light-yellow);
    margin: 40px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px #000;
}

h1 {
    text-align: center;
    font-size: 70px;
    letter-spacing: 10px;
    /* margin-bottom: 50px; */
    text-transform: uppercase;
    border-bottom: 2px solid var(--dark-spring-green);
    padding-bottom: 10px;
    font-family: "Limelight", sans-serif;
}

h2 {
    padding: 5px 15px;
    background-color: rgba(101, 173, 93, 0.715);
    border-radius: 10px;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.279);
    margin-left: 80px;
    margin-bottom: 70px;
    width: 360px;
    text-align: center;
    font-family: "Limelight", sans-serif;
}

h2.h2mig {
    padding: 5px 15px;
    background-color: rgba(101, 173, 93, 0.715);
    border-radius: 10px;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.279);
    margin-left: 50px;
    margin-bottom: 40px;
    margin-top: 50px;
    width: 350px;
    text-align: center;
    font-family: "Limelight", sans-serif;
}

h2.h2proj {
    padding: 5px 15px;
    background-color: rgba(101, 173, 93, 0.715);
    border-radius: 10px;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.279);
    margin-left: 250px;
    margin-bottom: 40px;
    width: 350px;
    text-align: center;
    font-family: "Limelight", sans-serif;
}

p {
    font-size: 25px;
    width: 300px;
    margin-left: 100px;
    font-family: "Federo", sans-serif;
    border-bottom: 10px dotted rgba(101, 173, 93, 0.715);
}

.ommig {
    margin-left: 200px;
}

.ommig p {
    margin-left: 80px;
    font-size: 25px;
    max-width: 600px;
    font-family: "Federo", sans-serif;
    border-bottom: 10px dotted rgba(101, 173, 93, 0.715);
}

.projekt {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 100px;
}

.projekt ul {
    display: inline-block;
    border-bottom: 10px dotted rgba(101, 173, 93, 0.715);
    margin-bottom: 40px;
}

.projekt li {
    margin-bottom: 20px;
    font-size: 25px;
    font-family: "Federo", sans-serif;
}

.nr1 {
    display: flex;
    margin-top: 50px;
    text-align: center;
}

.vines {
    width: 830px;
    position: absolute;
}

.bild {
    width: 300px;
    border-radius: 20px;
    border: 4px solid;

}
div.n2 {
    display: flex;
    margin-top: 50px;
    text-align: center;
}